<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>{% block title %}Dovi Motors Management Application{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <h1>{% block header %}Dovi Motors Management Application{% endblock %}</h1>
        </div>
        <div class="nav">
            <h3>Export Adam Tables</h3>
            <ul>
                <li><a href="../../adam/list/">ADAM Table List</a></li>
            </ul>
            <h3>Dashboard Metrics</h3>
            <ul>
                <li><a href="../../dashboard/all_metrics/">All Metrics</a></li>
            </ul>
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
        <div class="footer">Copyright 2016 Dovi Motors Inc.  All rights reserved.</div>
    </body>
</html>
