{% extends 'mysite/base.html' %}
{% block content %}
<h2 class="pure-menu-heading">Detailed Parts Reports</h2>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../parts_detail/29/45/DATEPURC/" class="pure-menu-link">Parts on hand 30-45 days old</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/60/65/DATEPURC/" class="pure-menu-link">Parts on hand 60-65 days old</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATEPURC/" class="pure-menu-link">Over 12-15 Months Old By Date Purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATESOLD/" class="pure-menu-link">Over 12-15 Months Old By Date Sold</a></li>
    </ul>

<h2 class="pure-menu-heading">Daily Metrics Report</h2>
    <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <td>ID</td>
            <td>Stat Date</td>
            <td>Parts Inv Value</td>
            <td>Parts 30-45 Days</td>
            <td>Parts 60-65 Days</td>
            <td>Service RO Count</td>
            <td>Service Old RO Ct</td>
        </tr>
    </thead>
    {% for metric in daily_metrics %}
        <tr>
            <td>{{ metric.id }}</td>
            <td>{{ metric.statdate }}</td>
            <td>{{ metric.pa_invvalue }}</td>
            <td>{{ metric.pa_count30to45 }}</td>
            <td>{{ metric.pa_count60to65 }}</td>
            <td>{{ metric.sv_ro_count }}</td>
            <td>{{ metric.sv_old_ro_count }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}