<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Metric Data</title>
</head>
<body>
<h2>Daily Metrics Report</h2>
    <table border="1">
    <tr>
        <td>ID</td>
        <td>Stat Date</td>
        <td>Parts Inv Value</td>
        <td>Parts 30-45 Days</td>
        <td>Parts 60-65 Days</td>
        <td>Service RO Count</td>
        <td>Service Old RO Ct</td>
    </tr>
    {% for metric in daily_metrics %}
    <tr>
        <td>{{ metric.id }}</td>
        <td>{{ metric.statdate }}</td>
        <td>{{ metric.pa_invvalue }}</td>
        <td>{{ metric.pa_count30to45 }}</td>
        <td>{{ metrics.pa_count60to65 }}</td>
        <td>{{ metrics.sv_ro_count }}</td>
        <td>{{ metrics.sv_old_ro_count }}</td>
    </tr>
    {% endfor %}
    </table>
<h2>Detailed Reports</h2>
    <ul>
        <li><a href="../parts_detail/29/45">Parts on hand 30-45 days old</a></li>
        <li><a href="../parts_detail/60/65">Parts on hand 60-65 days old</a></li>
    </ul>


</body>
</html>