{% extends 'mysite/base.html' %}
{% block content %}
<h2 class="pure-menu-heading">Detailed Parts Reports</h2>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../parts_detail/29/45/DATEPURC/" class="pure-menu-link">Parts on hand 30-45 days old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/60/65/DATEPURC/" class="pure-menu-link">Parts on hand 60-65 days old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATEPURC/" class="pure-menu-link">Parts on hand 12 months old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATESOLD/" class="pure-menu-link">Parts on hand 12 months old by date sold</a></li>
    </ul>
{% endblock %}