{% extends 'mysite/base.html' %}
{% block content %}
<h2 class="pure-menu-heading">Detailed Parts Reports</h2>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../parts_detail/29/45/DATEPURC/" class="pure-menu-link">Parts on hand 30-45 days old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/60/65/DATEPURC/" class="pure-menu-link">Parts on hand 60-65 days old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATEPURC/1/" class="pure-menu-link">Parts on hand 12 months old by date purchased</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/365/395/DATESOLD/1/" class="pure-menu-link">Parts on hand 12 months old by date sold</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/730/2190/DATESOLD/1/" class="pure-menu-link">Parts on hand over 24 months old by date sold</a></li>
        <li class="pure-menu-item"><a href="../parts_detail/730/2190/DATEPURC/1/" class="pure-menu-link">Parts on hand over 24 months old by date purchased</a></li>
    </ul>
<br>
**Notes
<ul>
    <li>30-45 day and 60-65 reports only show parts with cost greater than $15.00</li>
    <li>12 and 24 month reports include all parts.</li>
    <li>All reports exclude Ford Stock Parts</li>
</ul>
<hr>
<h2 class="pure-menu-heading">Battery Core Report</h2>
<form action="../../dashboard/parts_reports/" method="post">
    <ul>
        {% csrf_token %}
        {{ form.as_ul }}
    </ul>
    <input type="submit" value="Run Report" name="submit">
</form>
<hr>
<div>

    {{ data | safe }}

</div>

{% endblock %}